<div class="mt-3">
  <h2>現役大学生による、参考書のレビューサイト。</h2>
</div>

<div class="mt-3">
  <p>
    人気の参考書は調べればすぐに分かるけれど、その中から自分に合った参考書が選べない...<br>
    自分と志望校や学力、部活の忙しさなどが同じだった先輩たちのレビューを見て、自分に合った参考書を見つけよう！
  </p>
</div>

<div class="card mt-4">
  <h3 class="card-header">現役大学生のレビューを見て、自分に合った参考書を見つけたい。</h3>
  <div class="card-body">
    <%= link_to examinees_sign_up_path, class: "text-decoration-none" do %>
      <div class="d-grid col-11 mx-auto">
        <button class="btn btn-outline-primary" type="button">
          <div align="center">受験生ユーザ登録</div>
        </button>
      </div>
    <% end %>

    <%= link_to examinees_sign_in_path, class: "text-decoration-none" do %>
      <div class="d-grid col-11 mx-auto mt-3">
        <button class="btn btn-outline-primary" type="button">
          <div align="center">受験生ログイン</div>
        </button>
      </div>
    <% end %>
  </div>
  <div class="card-footer">お気に入りの参考書やレビューをマイリストに登録することができます。</div>
</div>

<div class="card mt-5">
  <h3 class="card-header">頑張る受験生のために、志望校合格の手助けがしたい。</h3>
  <div class="card-body">
    <%= link_to university_students_sign_up_path, class: "text-decoration-none text-dark" do %>
      <div class="d-grid col-11 mx-auto">
        <button class="btn btn-outline-primary" type="button">
          <div align="center">大学生ユーザ登録</div>
        </button>
      </div>
    <% end %>

    <%= link_to university_students_sign_in_path, class: "text-decoration-none text-dark" do %>
      <div class="d-grid col-11 mx-auto mt-3">
        <button class="btn btn-outline-primary" type="button">
          <div align="center">大学生ログイン</div>
        </button>
      </div>
    <% end %>
  </div>
  <div class="card-footer">受験生のために参考書のレビューを投稿することができます。</div>
</div>

<div class="mt-4 ms-1">
  <%= link_to 'ログインせずに利用する', subjects_path %><br>
  (一部の機能を利用することができません。)
</div>
