<div class="mt-3">
  <h2><%= @book.name %></h2>
</div>

<div class="mt-4">
  <h4>この参考書について</h4>
</div>

<div class="mt-2">
  &nbsp;価格：<%= @book.price %>円
</div>

<div class="mt-1">
  &nbsp;<%= link_to '参考書詳細', @book.url, target: :_blank, rel: "noopener noreferrer" %>
</div>

<div class="mt-2">
  <% if examinee_signed_in? %>
    <%= FavoriteBook.where(examinee_id: @examinee.id, book_id: @book.id).exists? ?
          (button_to "お気に入り削除", destroy_favorite_book_path(@book.id), method: :delete, class: 'btn btn-outline-danger mr-3')
          : (button_to "お気に入り追加", create_favorite_book_path(@book.id), method: :post, class: 'btn btn-outline-primary mr-3') %>
  <% end %>
</div>

<div class="mt-4">
  <h4>この参考書のレビュー</h4>
</div>

<% if @reviews.present? %>
  <% @reviews.each do |r| %>
    <%= render 'layouts/review_whose', r: r %>
  <% end %>

  <div class="mt-4">
    <%= paginate @reviews %>
  </div>

<% else %>
  <p class="mt-2">この参考書には、まだレビューがないようです。</p>
<% end %>
