<div class="mt-3">
  <h2>参考書を探す</h2>
</div>

<%= render 'layouts/subject', subject: "英語", a:0, b:6 %>
<%= render 'layouts/subject', subject: "数学", a:7, b:7 %>
<%= render 'layouts/subject', subject: "国語", a:8, b:11 %>
<%= render 'layouts/subject', subject: "理科", a:12, b:15 %>
<%= render 'layouts/subject', subject: "社会", a:16, b:19 %>
<%= render 'layouts/subject', subject: "その他", a:20, b:21 %>
