<div class="mt-3">
  <h2><%= @review.book.name %>のレビュー</h2>
</div>

<div class="mt-4">
  <h4>このレビューを書いた人について</h4>
</div>

<div class="mt-2">
  ニックネーム：<%= @page_student.name %>
</div>

<%= render 'layouts/univ_bio' %>

<div class="mt-4">
  <h4>レビュー詳細</h4>
</div>

<div class="mt-2">
  総合評価（5段階）：
  <% @review.evaluation.times do %>★<% end %>
</div>

<div class="mt-3">
  使い始めた時期：<%= @review.begin_about_i18n %>
  <%= "#{@review.begin_season_i18n}" if @review.begin_season.present? %>
  <%= "(#{@review.begin_month}月)" if @review.begin_month.present? %>
</div>

<div class="mt-1">
  使い終えた時期：<%= @review.finish_about_i18n %>
  <%= "#{@review.finish_season_i18n}" if @review.finish_season.present? %>
  <%= "(#{@review.finish_month}月)" if @review.finish_month.present? %>
</div>

<div class="mt-3">
  使い始めたときの偏差値：<%= @review.beginning_score if @review.beginning_score.present? %>
</div>

<div class="mt-1">
  模試：<%= @review.mock_exam.name if @review.mock_exam_id.present? %>
</div>

<div class="mt-3">この参考書の良い点</div>

<div class="card border-dark mt-1" style="width: 95%; height: 125px; overflow-y: scroll;">
  <div class="mt-1 mb-1 ms-2">
    <%= @review.pro %>
  </div>
</div>

<div class="mt-3">この参考書のあまり良くない点</div>

<div class="card border-dark mt-1" style="width: 95%; height: 125px; overflow-y: scroll;">
  <div class="mt-1 mb-1 ms-2">
    <%= @review.con %>
  </div>
</div>

<div class="mt-3">どんな人におすすめしたい参考書か</div>

<div class="card border-dark mt-1" style="width: 95%; height: 125px; overflow-y: scroll;">
  <div class="mt-1 mb-1 ms-2">
    <%= @review.recommended_person %>
  </div>
</div>

<div class="mt-3">どんな使い方をしていたか（おすすめの使い方）</div>

<div class="card border-dark mt-1" style="width: 95%; height: 125px; overflow-y: scroll;">
  <div class="mt-1 mb-1 ms-2">
    <%= @review.recommended_usage %>
  </div>
</div>

<div class="mt-3 ms-1">
  <% if examinee_signed_in? %>
    <%= FavoriteReview.where(examinee_id: @examinee.id, review_id: @review.id).exists? ?
          (button_to "お気に入り削除", destroy_favorite_review_path(@review.id), method: :delete, class: 'btn btn-outline-danger mr-3')
          : (button_to "お気に入り追加", create_favorite_review_path(@review.id), method: :post, class: 'btn btn-outline-primary mr-3') %>
  <% end %>
</div>

<div class="mt-3">
  <%= link_to 'この人の他のレビューも見る', univ_my_page_path(id: @review.university_student_id) %>
</div>
