<div style="margin-top: 100px;">
  <div class="d-flex justify-content-center container" style="position: fixed; left: 50%; bottom: 0;
    transform: translateX(-50%); -webkit-transform: translateX(-50%); background-color: white;">
    <div class="card border-secondary rounded-0" style="width: 100%;">
      <%= link_to subjects_path, class: "text-decoration-none text-dark" do %>
        <div class="card-body">
          <p class="card-text" align="center">
            <%= image_tag asset_path('search.png'), height: "25px", class: "d-inline-block align-top", alt: '検索' %>
          </p>
        </div>
      <% end %>
    </div>

    <% if university_student_signed_in? %>
      <div class="card border-secondary rounded-0" style="width: 100%;">
        <%= link_to books_path, class: "text-decoration-none text-dark" do %>
          <div class="card-body">
            <p class="card-text" align="center">
              <%= image_tag asset_path('post.png'), height: "25px", class: "d-inline-block align-top", alt: '投稿' %>
            </p>
          </div>
        <% end %>
      </div>

      <div class="card border-secondary rounded-0" style="width: 100%;">
        <%= link_to univ_my_page_path(id:current_university_student.id), class: "text-decoration-none text-dark" do %>
          <div class="card-body">
            <p class="card-text" align="center">
              <%= image_tag asset_path('mypage.png'), height: "25px", class: "d-inline-block align-top", alt: 'マイページ' %>
            </p>
          </div>
        <% end %>
      </div>

    <% elsif examinee_signed_in? %>
      <div class="card border-secondary rounded-0" style="width: 100%;">
        <%= link_to favorite_books_list_path(id:current_examinee.id), class: "text-decoration-none text-dark" do %>
          <div class="card-body">
            <p class="card-text" align="center">
              <%= image_tag asset_path('favorite.png'), height: "25px", class: "d-inline-block align-top", alt: 'マイページ' %>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
